# --- Entornos Virtuales de Python ---
backend/venv/
backend/env/
ENV/
env/
venv/

# --- Archivos de caché de Python ---
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# --- Datos y Multimedia del proyecto (Fotos de evidencia) ---
backend/media/*
!backend/media/.gitkeep

# --- IDEs y Editores de código ---
.vscode/
.idea/
*.swp

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

import os
from dotenv import load_dotenv
load_dotenv()

DB_HOST = os.getenv("DB_HOST")
DB_USER= os.getenv("DB_USER")
DB_PASS= os.getenv("DB_PASS")
DB_NAME= os.getenv("DB_NAME")